#eclipse
**/bin
**/.settings
**/.classpath
*.project
tests/.eclipse

#In case people make their workspace in the repo
/eclipse/

#idea
/.idea
/*/out
/classes
*.iml

#gradle
/build
/.gradle
/*/build
/*/.gradle

#occupational hazards
/projects/**/*.launch
/repo/
.run
src/generated/resources/.cache/
tests/src/generated/resources/.cache/

#Patch rejects
#/patches-/
#*.patch.rej
#/projects/*/rejects/

# FML changelog
changelog.txt
*.py
*.7z
/logs/

build
**/build

**/eclipse/
**/runs/

**/out/